<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Booking</title>
</head>
<body>
    <h3>Booking History</h3>
    <table border="1" cellpadding="8">
        <tr>
            <th>Room ID</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for booking in bookings %}

    <tr>
        <td>{{ booking.room_id }}</td>
        <td>{{ booking.check_in }}</td>
        <td>{{ booking.check_out }}</td>
        <td>{{ booking.price }}</td>
        <td>{{ booking.status }}</td>
    <td>
        <a href="/cancel_booking/{{ booking.id }}">
            <button>Cancel</button>
        </a>
    </td>
</tr>

{% endfor %}
    </table>
</body>
</html>