<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KingsHotel</title>
</head>
<body>
    <header>
    <div class="nav">
    <nav>
        <a href="#about">KingsHotel</a>
        <a href="#about">Home</a>
        <a href="#about">About</a>
        <a href="#con">Contact</a>
        <a href="signup">Sign-up</a>
        <a href="signin">Sign-in</a>
    </nav>
    </div></header>
    <main>
        <div class="hero">
        <h1>KingsHotel</h1>
        <h4>Where Every Guest is God.Experience luxury, comfort, and exceptional hospitality.</h4>
        <button>Book now</button>
        </div>    
        <h3 >About us</h3>
        <section id="about">
        <p>Welcome to Kings Hotel.Kings Hotel has been a landmark of gracious hospitality for over three decades. From the moment you step through our doors, you're greeted not just as a guest, but as god.Our story began with a simple belief: that every traveler deserves a stay that feels both luxurious and genuinely personal.Our team of hospitality professionals works around the clock with one mission: to make you feel at home — only better.Kings Hotel. Where Every Guest is God.</p>
        </section>
        <section id="rooms">
            <h3>Rooms</h3>
            <div class="Standard">Standard Room ₹1000 / Night WiFi TV<img src="standard.jpg"><button>Book now</button></div>
            <div class="deluxe">Deluxe ₹2000 / Night AC WiFi TV<img src="deluxe.jpg"><button>Book now</button></div>
            <div class="suite">Suite ₹3000 / Night AC WiFi TV Mini Bar<img src="Suite.jpg"><button>Book now</button></div>
        </section>    
    </main>
    <footer id="con">
        <p>For Further details,contact us at</p>
        <p>📞 +91 XXXXX XXXXX </p>
        <p>📧 kingshotel@gmail.com</p>
        <p>📍 Pune, Maharashtra </p>
        <p>© 2026 Kings Hotel</p>    
    </footer>
</body>
</html>