<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Rooms</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h3>Search Rooms</h3>
  <form action="/search" method=GET>
  <label for="room_type">Room Type</label>
  <select name="room_type">
    <option  value="">--Select Type--</option>
    <option value="Standard">Standard</option>
    <option value="Deluxe">Deluxe</option>
    <option value="Suite">Suite</option>
  </select>
  <br>
  <label for="capacity">No of Guests</label>
  <input type="number" name="capacity" required>  
  <br>
  <label for="price">Maximum Price</label>
  <input type="number" name="price">  
  <br>
  <button>Search</button>
  </form>
  
  <h3>Available Rooms</h3>

<table border="1" cellpadding="8">
    <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Capacity</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    {% if rooms %}
        {% for room in rooms %}
        <tr>
            <td>{{ room.room_num }}</td>
            <td>{{ room.room_type }}</td>
            <td>{{ room.capacity }}</td>
            <td>₹{{ room.price }}</td>
            <td>{{ room.description }}</td>
            <td>
                <a href="/room/{{ room.id }}">
                    <button>Book</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">No rooms available.</td>
        </tr>
    {% endif %}
</table>
</body>
</html>
