<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
</head>
<body>
    <div class="container">
        <form action="/signin" method="POST">
        <h3>Login to your account</h3>
        <label for="email">Email:</label> <input placeholder="enter email id" type="email" id="email" name="email">
        <br><br>
        <label for="password">Password: </label><input placeholder="enter your password" type="password" id="password" name="password">
        <br><br>
        <button>Login</button>
        Don't have an account?<a href="signup">Sign-up</a>
        </form>
    </div>
</body>
</html>