<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
  <div class="container">
    <form action="/signup" method="POST">
    <h3>Create Your Kings Hotel Account</h3>
    <p>Register to book rooms.</p>
    <label for="name">Name:</label> 
    <input type="text" placeholder="enter your  name" id="name" name="name">
    <br><br>
    <label for="email">Email: </label><input placeholder="enter email id" type="email" name="email">
    <br><br>
    <label for="num">Phone Number: </label><input placeholder="enter phone number" name="phone_number">
    <br><br>
    <label for="pass">Password: </label><input placeholder="enter your password" type="password" name="password">
    <br><br>
    <label for="conf">Confirm Password: </label><input placeholder="enter your password" type="password" name="confirm_password">
    <br><br>
    <button>Register</button>
    <br><br>
    Already have an account<a href="signin.html"> Sign in</a>
    </form>
  </div>  
</body>
</html>